In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/datoseuropa.csv")

In [4]:
df.head(5)

,name,essround,edition,proddate,cntry,idno,intagea,intgndr,vdcond,resclq,...,prewhp,presd,preppil,preorel,prenrel,predk,prenap,prena,intlnga,intnum
0,ESS11inte04_1,11,4.1,12.01.2026,AT,50014,62,2,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,GER,3271
1,ESS11inte04_1,11,4.1,12.01.2026,AT,50030,48,2,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,GER,2348
2,ESS11inte04_1,11,4.1,12.01.2026,AT,50057,66,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,GER,2893
3,ESS11inte04_1,11,4.1,12.01.2026,AT,50106,65,2,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,GER,3157
4,ESS11inte04_1,11,4.1,12.01.2026,AT,50145,30,1,1,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,GER,2595